
<div *ngIf="prescriptions">
    <h1>List of Prescriptions</h1>
    <ul class="prescriptions">
        <li *ngFor="let prescription of this.prescriptions">
            <h2><span>{{prescription.drugName}}</span></h2>
            <a routerLink="/Prescriptions/{{prescription.id}}">
                <span class="badge">Details</span>
            </a>
        </li>
    </ul>
</div>

<!-- saving this for prescription details -->
<!-- <div *ngIf="prescriptions">
    <div>
        <h2>{{prescription.patient.name | uppercase}} Details</h2>
        <h3><span>Doctor: </span>{{prescription.doctor.name}}</h3>
        <h3><span>Prescripton Id:</span> {{prescription.id}}</h3>
        <h3><span>Prescription Name: </span>{{prescription.drugName}}</h3>
    </div>
    <div>
        Instructions: {{prescription.info}}
    </div>
</div> -->
